body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1031px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u1281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
.u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:30px;
  font-size:14px;
}
.u1283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
.u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:133px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1279-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:133px;
}
#u1279-2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:133px;
}
#u1279-3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:133px;
}
#u1279-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:133px;
}
#u1279-5 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:153px;
  width:100px;
  height:133px;
}
#u1279-6 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:153px;
  width:100px;
  height:133px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:311px;
  width:340px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
.u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:30px;
  font-size:14px;
}
.u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1285-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u1285-2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:130px;
}
#u1285-3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:130px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:111px;
  width:340px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:50px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:77px;
  width:15px;
  height:21px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:30px;
  height:16px;
  color:#999999;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:84px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:80px;
  width:87px;
  height:16px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:92px;
  width:193px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:46px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:622px;
  width:160px;
  height:40px;
  font-size:14px;
  color:#000000;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:634px;
  width:16px;
  height:17px;
  font-size:14px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:634px;
  width:103px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:634px;
  width:16px;
  height:16px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:641px;
  width:15px;
  height:2px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:86px;
  width:89px;
  height:1px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:96px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:72px;
  width:293px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:335px;
  width:89px;
  height:1px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:46px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:321px;
  width:293px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:537px;
  width:89px;
  height:1px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:29px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:523px;
  width:220px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:136px;
  width:240px;
  height:240px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:315px;
  width:174px;
  height:35px;
  text-align:center;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:114px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:182px;
  width:134px;
  height:114px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:195px;
  width:101px;
  height:97px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:243px;
  width:89px;
  height:1px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:29px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:229px;
  width:293px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:375px;
  height:50px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:267px;
  width:15px;
  height:21px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:267px;
  width:30px;
  height:16px;
  color:#999999;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:271px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:267px;
  width:87px;
  height:16px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:279px;
  width:270px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:162px;
  width:240px;
  height:240px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:341px;
  width:174px;
  height:35px;
  text-align:center;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:114px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:208px;
  width:134px;
  height:114px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:97px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:221px;
  width:101px;
  height:97px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:108px;
  width:27px;
  height:26px;
  font-size:12px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
