body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:157px;
  width:31px;
  height:31px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:198px;
  width:59px;
  height:18px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:157px;
  width:31px;
  height:31px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:198px;
  width:58px;
  height:18px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:66px;
  width:60px;
  height:60px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:39px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:77px;
  width:292px;
  height:39px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:245px;
  width:60px;
  height:60px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:39px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:247px;
  width:292px;
  height:39px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
.u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
.u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  color:#CCCCCC;
}
.u1348_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
.u1348.selected {
}
.u1349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u1347-2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:40px;
}
#u1347-3 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:40px;
}
#u1347-4 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:40px;
}
#u1347-5 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:40px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  text-align:left;
}
.u1352 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u1350-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  height:48px;
}
#u1350-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:375px;
  height:48px;
}
#u1350-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:375px;
  height:48px;
}
#u1350-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:48px;
}
#u1350-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:48px;
}
#u1350-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:375px;
  height:48px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:375px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
